@using urlShortenerr.Controllers
@model List<UrlViewModel>

<div class="text-end">
    @if (ViewBag.IsAuthenticated != null && (bool)ViewBag.IsAuthenticated)
    {
        <form method="post" asp-controller="Auth" asp-action="Logout">
            <button type="submit" class="btn btn-outline-danger">Log out (@ViewBag.UserName)</button>
        </form>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Login" class="btn btn-outline-primary">Log in</a>
    }
</div>



<h1>URL Shortener</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Original URL</th>
            <th>Shortened URL</th>
            <th>Details</th>
            @if (ViewBag.IsAuthenticated != null && (bool)ViewBag.IsAuthenticated)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var url in Model)
        {
            <tr>
                <td>@url.OriginalUrl</td>
                <td>
                    <a href="@url.ShortUrl" target="_blank">@url.ShortUrl</a>
                </td>
                <th>
                    <a asp-controller="Info" asp-route-id="@url.Id" asp-action="InfoPage" class="btn btn-outline-primary">Info</a>
                </th>
                @if (url.CanEdit)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@url.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@url.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                }
                else {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.IsAuthenticated != null && (bool)ViewBag.IsAuthenticated)
{
    <div class="d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-primary">Add New URL</a>
    </div>
}

